################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WinFormsApp6/.vs/WinFormsApp6/CopilotIndices/17.13.430.18484/SemanticSymbols.db-wal
